body {
    background-image: url(photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0F3D3E;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
    color: #DC0000;
    font-family: 'Roboto Slab', serif;
    font-size: 90px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    border: 3px solid #1A5D1A;
    width: 250px;
    height: 300px;
    background-color: rgba(192,192,192,0.9);
    align-items: center;
    margin: 5px;

}


h4 {
    font-family: 'Roboto Slab', serif;
    color: #DC0000;
    font-size: 40px;
    
}
.days, .hours, .minutes, .seconds {
    color: #DC0000;
    font-size:45px;    
    font-family: 'Roboto Slab', serif;
    text-align: center;

}

.red {
    font-family: 'Archivo Black', sans-serif;
    font-size: 90px;
    color: #FFD93D;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 70px;
        text-align: center;
    }
    .red {
        font-size: 80px;
    }
}
    

